.smallContainer {
  width: 100%;
  height: 40vh;
  display: flex;

  button:hover {
    backdrop-filter: blur(0);
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
  }

  @include for-phone-only {
    height: 60vh;
    flex-wrap: wrap;
  }
}

.rj {
  @include rj-img("../Images/rj2x.png");
  @include smallcard-style;
}

.rio {
  @include rioDasOstras-img("../Images/crianca-mar2x.png");
  @include smallcard-style;
}

.caldas {
  @include caldasNovas-img("../Images/lago2x.png");
  @include smallcard-style;
}

.amazonia {
  @include amazonia-img("../Images/mulher-barco2x.png");
  @include smallcard-style;
}
