.contatoBox {
  h2 {
    @include for-phone-only {
    font-size: 2.5rem;
    }  
  }

  input {
    @include for-phone-only {
    width: 80vw;
    }
    
    @include for-phone-up {
      width: 70vw;
    }

    @include for-tablet-landscape-up {
      width: 60vw;
    }

    @include for-desktop-up {
      width: 50vw;
    }
  }
}
