.contatoBox {
  input {
    @include for-phone-only {
      width: 70vw;
    }

    @include for-tablet-landscape-up {
      width: 60vw;
    }

    @include for-desktop-up {
      width: 50vw;
    }
  }
}
