.searchContainer {
  @include bg-img("header2x.png");
  width: 100%;
  height: 76vh;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  section {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;

    h1 {
      color: $blue;
      font-family: "ArgentumSansBold";
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    input {
      width: 26vw;
      height: 6vh;
      border: none;
      border-radius: 1.5rem;
      padding-left: 1.5rem;
    }

    input:focus {
      outline: 2.5px solid $light-blue;
      transition: 0.2s;
    }

    button {
      width: 11vw;
      margin-top: 1.5rem;
    }
  }
}
